<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="key1" />
    <node pkg="tf_dynamic" type="tf_dynamic_pub.py" name="dynamic_pub" />
    <node pkg="tf_dynamic" type="tf_dynamic_sub.py" name="dynamic_sub" output="screen"/>
</launch>