<launch>
    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find navigation_test)/launch/map_server_launch.launch" />
    <include file="$(find navigation_test)/launch/amcl_test_param.launch" />

</launch>