<launch>
    <arg name="rviz_on_slam" default="false" />
    <!-- 启动SLAM节点 -->
    <include file="$(find navigation_test)/launch/navigation_test1_slam.launch" />
    <!-- 运行move_base节点 -->
    <include file="$(find navigation_test)/launch/move_base_test_main.launch" />
    <!-- 运行rviz -->
    <group if="$(arg rviz_on_slam)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation_test)/config/move_base_config.rviz" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    </group>
</launch>
